<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c.%M:%L - %m%n"/>
         </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="com.sun.jersey" level="TRACE"/>
        <Logger name="com.acentic.cloudservices.dev.jersey" level="DEBUG"/>
        
        
        <Root level="INFO">
            <AppenderRef  ref="Console" />
        </Root>
    </Loggers>
</Configuration>